/* "GNU GPL licence version 3 with font exception" => beágyazható a GNU licenc hozzácsatolása nélkül */
@font-face {
  font-family: "osifont";
  src: url(osifont.woff);
}

@keyframes mousehover {
  0% {
    background-color: #e9e6ff;
    color: slateblue;
  }
  100% {
    background-color: slateblue;
    color: white;
  }
}

body {
  display: grid;
  background-color: darkslateblue;
  margin: 0px;
  font-size: 16pt;
  font-family: osifont;
  color: white;
  grid-template-areas: "fejlec" "tartalom" "lablec";
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}
p {
  padding-top: 6pt;
  padding-left: 9pt;
  padding-bottom: 0pt;
  margin-block-start: 0px;
}
h1 {
  padding-top: 6pt;
  padding-left: 3pt;
  padding-bottom: 0pt;
  margin-block-start: 0px;
}

/* general */
.animacio:hover {
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: mousehover;
  -webkit-animation-duration: 250ms;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: mousehover;
  animation-duration: 250ms;
}

.arnyek {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
/* end of general */

/* header */
header.fejlec {
  grid-area: fejlec;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  color: slateblue;
}
table.fejlec {
  user-select: none;
  width: 90%;
  margin: 0 auto;
  border-spacing: 0px;
  border: 0px;
  border-collapse: separate;
}
td.fejlec {
  padding-top: 6pt;
  border: 2px darkslateblue solid;
  border-right: 0px;
  border-bottom: 0px;
  width: 25%;
  text-align: center;
}
td.fejlec:first-child {
  border-top-left-radius: 4pt;
}
td.fejlec:last-child {
  border-top-right-radius: 4pt;
  border-right: 2px darkslateblue solid;
}
/* end of header */

/* content */
main.tartalom {
  grid-area: tartalom;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom-left-radius: 6pt;
  border-bottom-right-radius: 6pt;
  box-sizing: border-box;
  padding: 6pt;
  padding-top: 11pt;
  background-color: slateblue;
}
/* end of content */

/* footer */
footer.lablec {
  padding: 6pt;
  grid-area: lablec;
  background-color: #241f47;
}
p.lablec {
  margin-block: 0px;
}
/* end of footer */